node_modules
dist
.astro
public/api
public/data/carbon-stats.json
public/data/open-data-cache.json
public/data/california-codes-content.json
public/data/sports-data.json
apps
*.min.js
*.min.css
package-lock.json
