use_default_settings: true

general:
  instance_name: 'Carl Search'
  enable_metrics: false

search:
  safe_search: 0
  autocomplete: ''
  default_lang: 'en'
  formats:
    - html
    - json

server:
  secret_key: 'carl-searxng-local-only'
  bind_address: '0.0.0.0'
  port: 8888
  limiter: false

ui:
  static_use_hash: true

engines:
  - name: google
    engine: google
    shortcut: g
    disabled: false
  - name: duckduckgo
    engine: duckduckgo
    shortcut: ddg
    disabled: false
  - name: bing
    engine: bing
    shortcut: b
    disabled: false
  - name: wikipedia
    engine: wikipedia
    shortcut: wp
    disabled: false
