openapi: 3.0.3
info:
  title: Bay Navigator Static JSON API
  version: 1.1.0
  description: |
    Static JSON API for Bay Area community programs, reference data and civic
    datasets. Every endpoint is a pre-generated file served from the Azure
    Static Web Apps CDN — there is no dynamic backend, no authentication and no
    rate limit.

    **Endpoints are served under `/data/`, not `/api/`.** Azure Static Web Apps
    reserves the `/api/*` route for its Functions backend, so the build relocates
    the generated files to `/data/*`. Requesting `/api/programs.json` returns 500.

    Files are regenerated daily. `metadata.json` carries the generation timestamp.

    Data is licensed separately from the code — see LICENSE-DATA in the repository.
servers:
  - url: https://baynavigator.org/data
    description: Production (CDN-cached static files)
  - url: https://blue-pebble-00a40d41e.4.azurestaticapps.net/data
    description: Origin, bypassing Cloudflare (for server-side callers that Cloudflare challenges)
paths:
  /programs.json:
    get:
      summary: List all programs
      description: Returns all programs with metadata. Filtering is done client-side.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProgramsResponse'
  /programs/{id}.json:
    get:
      summary: Get program by ID
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
          description: Program ID (URL-friendly slug)
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Program'
        '404':
          description: Not found (static file does not exist)
  /categories.json:
    get:
      summary: List categories
      description: Returns all categories with program counts and icons.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoriesResponse'
  /areas.json:
    get:
      summary: List areas
      description: Returns all geographic areas with program counts and types.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AreasResponse'
  /groups.json:
    get:
      summary: List audience groups
      description: |
        Returns the audience groups a program can be tagged with (seniors,
        veterans, students, families, and so on) with program counts.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
  /search-index.json:
    get:
      summary: Get the client-side search index
      description: |
        A compact index of every program, used for in-browser search. The site's
        own directory search downloads this and searches it locally, so search
        terms are never sent to a server.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
  /emergency.json:
    get:
      summary: Get crisis and emergency contacts
      description: |
        Verified crisis lines — national hotlines and Bay Area county crisis
        teams. Cached for offline use. Reproduce the numbers verbatim rather
        than paraphrasing them.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
  /municipal-codes.json:
    get:
      summary: Get the municipal code index
      description: |
        Index of Bay Area cities and the ordinance topics covered. Full ordinance
        text is not served from here — it lives in Azure Blob Storage at
        `https://baytidesstorage.blob.core.windows.net/municipal-codes/`.
        Coverage is partial: see the index for which cities have been scraped.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
  /museum-admission.json:
    get:
      summary: Get museum free-admission rules
      description: |
        Free and reduced admission pathways for Bay Area museums, including
        resident free days and library pass programs.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
  /metadata.json:
    get:
      summary: Get API metadata
      description: Returns API version, generation timestamp, and available endpoints.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetadataResponse'
components:
  schemas:
    Program:
      type: object
      properties:
        id:
          type: string
          description: URL-friendly program identifier
        name:
          type: string
        category:
          type: string
        description:
          type: string
        eligibility:
          type: array
          items:
            type: string
        areas:
          type: array
          items:
            type: string
        website:
          type: string
          format: uri
        cost:
          type: string
          nullable: true
        phone:
          type: string
          nullable: true
        email:
          type: string
          format: email
          nullable: true
        requirements:
          type: string
          nullable: true
        howToApply:
          type: string
          nullable: true
        lastUpdated:
          type: string
          format: date
    ProgramsResponse:
      type: object
      properties:
        total:
          type: integer
        count:
          type: integer
        offset:
          type: integer
        programs:
          type: array
          items:
            $ref: '#/components/schemas/Program'
    Category:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        icon:
          type: string
        programCount:
          type: integer
    CategoriesResponse:
      type: object
      properties:
        categories:
          type: array
          items:
            $ref: '#/components/schemas/Category'
    Area:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        type:
          type: string
          enum: [county, region, state, nationwide]
        programCount:
          type: integer
    AreasResponse:
      type: object
      properties:
        areas:
          type: array
          items:
            $ref: '#/components/schemas/Area'
    MetadataResponse:
      type: object
      properties:
        version:
          type: string
        generatedAt:
          type: string
          format: date-time
        totalPrograms:
          type: integer
        endpoints:
          type: object
          properties:
            programs:
              type: string
            categories:
              type: string
            eligibility:
              type: string
            areas:
              type: string
            singleProgram:
              type: string
